<p id="notice"><%= notice %></p>
<h1>Listado Series</h1>

<% @shows.each do |show| %>
    <div class="col-xm-6 col-md-3">
          <h3><%= show.titulo %></h3>
      <div class="thumbnail">
        <%= image_tag(show.imagen) %>
      </div>
         <div class="caption">
            <p><%= truncate(show.descripcion,length:120) %></p>
            <p class='precio'><strong>COP $<%= show.precio %></strong></p>
            
           <%= button_to 'Comprar', items_path(show_id:show),class:'btn btn-primary' %>            
        </div>
    </div>         
<% end %>


