<h1>Sesiones#new</h1>
<h3>Ingrese sus datos</h3>
<%= form_tag do%>
<div>
	<%= label_tag :nombre,'Nombre' %><br>
	<%= text_field_tag :nombre, params[:nombre] %>
</div>
<div>
	<%= label_tag :password,'Contraseña' %><br>
	<%= text_field_tag :password, params[:password] %>
</div>
<div>
	<%= submit_tag 'Ingresar' %>
</div>
<% end %>
