<%unless @compra.items.empty?%>

  <table class="table table-striped"> 
        <thead> 
          <tr><th>N°</th>
              <th>Item</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
          </tr>
        </thead> 
        <tbody> 
        <% @num = 0 %>
        <%= render @compra.items,{locals: @num}%>   

            <tr> 
            <th></th> 
            <td></td> 
            <td>TOTAL</td> 
            <th><%= @compra.total %></th>
        </tr> 
            </tbody>
    </table>
  
  <%= button_to "Hacer Pedido",new_pedido_path, method: :get ,class:"btn btn-primary" %>     
  <%= button_to "Vaciar Compra",compra_path(@compra), method: :delete, confirm: "Vaciar Carro. Confirmar",class:"btn btn-primary", remote:true %>
  <%= link_to "Regresar",tienda_path,class:"btn btn-primary" %>
<%end %>

