<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @show.imagen %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @show.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @show.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @show.precio %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
